<launch>
	<node pkg="turtlesim" type="turtlesim_node" name="turtlesim" respawn="true" ns="sim1" >
		<remap from="turtle1/pose" to="tim" />
	</node>

	<node
		pkg="turtlesim"
		type="turtle_teleop_key"
		name="teleop_key"
		respawn="true"
		launch-prefix="xterm -e"
		ns="sim1"
	/>
	<node
		pkg="turtlesim"
		type="turtlesim_node"
		name="turtlesim"
		respawn="true"
		ns="sim2"
	/>
	<node
		pkg="turtlesim"
		type="turtle_teleop_key"
		name="teleop_key"
		respawn="true"
		launch-prefix="xterm -e"
		ns="sim2"
	/>
</launch>