<?xml version="1.0"?>
<launch>
  <!-- <arg name = "CF_ID" default = "1"/> -->
  <param name="startTest"        type="bool"  value="False" />
  <include file="$(find mocap_optitrack)/launch/mocap.launch"/>
  <!-- <node name="init_radio" pkg="crazyflie_DARC" type="init_radio.py" output="screen"/> -->

  <group ns="Cf_1">
    <node name="hoverControl" pkg="crazyflie_DARC" type="hover_cf.py" output="screen"/>
    <param name = "CF_ID" value = "1"/>
    <param name = "x_d" value = "2.6"/>
    <param name = "y_d" value = "0.5"/>
    <param name = "z_d" value = "0.75"/>
  </group>

  <!-- <group ns="Cf_2" >
    <node name="hoverControl" pkg="crazyflie_DARC" type="hover_cf.py" output="screen"/>
    <param name = "CF_ID" value = "3"/>
    <param name = "x_d" value = "1.8"/>
    <param name = "y_d" value = "0.5"/>
    <param name = "z_d" value = "0.75"/>
  </group> -->

  <!-- <node name="init_radio" pkg="crazyflie_DARC" type="init_radio.py" output="screen"/> -->
</launch>
