<?xml version="1.0"?>
<launch>

  <param name="plumeType" type="int" value="2"/> # 1 = gaussian, 2 = gaden, 3 = MPS
  <rosparam param="xPlumeLoc">[1.5, 0.7]</rosparam>
  <rosparam param="yPlumeLoc">[1.73, 0.86]</rosparam>
  <include file="$(find test_env)/gaden7/launch/GADEN_player_mocap.launch"/>

</launch>
