<?xml version="1.0"?>
<launch>

  <param name="plumeType" type="int" value="2"/> # 1 = gaussian, 2 = gaden, 3 = MPS
  <rosparam param="xPlumeLoc">[1.32, 2.34, 3.02]</rosparam>
  <rosparam param="yPlumeLoc">[2.37, 6.74, 8.93]</rosparam>
  <include file="$(find test_env)/gaden32/launch/GADEN_player_mocap.launch"/>

</launch>
