<?xml version="1.0"?>
<launch>

  <param name="plumeType" type="int" value="2"/> # 1 = gaussian, 2 = gaden, 3 = MPS
  <rosparam param="xPlumeLoc">[0.66]</rosparam>
  <rosparam param="yPlumeLoc">[1.35]</rosparam>
  <include file="$(find test_env)/gaden6/launch/GADEN_player_mocap.launch"/>

</launch>
