<?xml version="1.0"?>
<launch>

  <param name="plumeType" type="int" value="2"/> # 1 = gaussian, 2 = gaden, 3 = MPS
  <rosparam param="xPlumeLoc">[4.08, 1.32, 3.02, 0.83]</rosparam>
  <rosparam param="yPlumeLoc">[6.87, 2.37, 8.93, 4.47]</rosparam>
  <include file="$(find test_env)/gaden43/launch/GADEN_player_mocap.launch"/>

</launch>
