<?xml version="1.0"?>

<launch>
 <rosparam param="runAlg">"PSO"</rosparam>
   <group>
	<rosparam param="bag">1</rosparam>
        <rosparam param="mode">3</rosparam>
        <rosparam param="AGENT_NUMBER">1</rosparam>
	<node pkg="obstacle_avoid" type="pso_agents.py" name="pso" output="screen"/>
        <!--node pkg="obstacle_avoid" type="open_sim_5_5.py" name="CA" output="log"/-->
	<!--node pkg="obstacle_avoid" type="d_mps_2.py" name="mps" output="screen"/-->
        <!--node pkg="obstacle_avoid" type="waypoint.py" name="waypoint" output="screen"/-->
        <!--node pkg="obstacle_avoid" type="pso_agents.py" name="pso" output="screen"/-->
        <!--node pkg="obstacle_avoid" type="scan_to_segment.py" name="scan_to_seg_scan"/-->
   </group>

</launch>

