<launch>
  <arg name="SpawnUAV1" default="True"/>
  <arg name="SpawnUAV2" default="True"/>
  <arg name="SpawnUAV3" default="True"/>
  <arg name="SpawnUAV4" default="True"/>
  <arg name="SpawnUAV5" default="True"/>

  <!-- <arg name="plotGaussian" default="True"/> -->

  <param name="startTest"        type="bool"  value="False" />
  <param name="SpawnUAV1"        type="bool"  value="$(arg SpawnUAV1)" />
  <param name="SpawnUAV2"        type="bool"  value="$(arg SpawnUAV2)" />
  <param name="SpawnUAV3"        type="bool"  value="$(arg SpawnUAV3)" />
  <param name="SpawnUAV4"        type="bool"  value="$(arg SpawnUAV4)" />
  <param name="SpawnUAV5"        type="bool"  value="$(arg SpawnUAV5)" />

  <arg name = "log" default="log"/>
  <param name="plumeType"         type="int"     value="3"        /> # 1 = gaussian, 2 = gaden, 3 = MPS

  <node name="plotRobots" pkg="platform_sims" type="plotGaussianParticleCentralized.py" output="screen"/>

  <include file="$(find NNvisit)/launch/NNvisitPFparams_mps_centralized.launch">
    <arg name="plumeType"     default="3"/>
  </include>

  <!-- <node pkg="rosbag" type="record" args="-o /home/mocaplinux/NNvisitData/sensor_test /Robot_1/mps_data /Robot_2/mps_data /Robot_3/mps_data /Robot_4/mps_data /Robot_5/mps_data /mocap_node/Robot_1/pose /mocap_node/Robot_2/pose /mocap_node/Robot_3/pose /mocap_node/Robot_4/pose /mocap_node/Robot_5/pose /particles /estimatedGaussian /mocap_node/PlumeSource/pose" name="mps_record_data" /> -->
</launch>
