<!-- mission file for GADEN player -->

<launch>

    ### NODE Simulated Gas Sensor ###
    #--------------------------------
    # SENSOR MODELS:
    # MOX: TGS2620=0, TGS2600=1, TGS2611=2
    # PID: MiniRaeLite=30

    # seventh row of 5 X = 2_99m
    <node pkg="tf" type="static_transform_publisher" name="pid30_broadcaster" args="2.99 0.46 0.2 0 0 0 map pid30_frame 50" />
    <node pkg="tf" type="static_transform_publisher" name="pid31_broadcaster" args="2.99 0.91 0.2 0 0 0 map pid31_frame 50" />
    <node pkg="tf" type="static_transform_publisher" name="pid32_broadcaster" args="2.99 1.37 0.2 0 0 0 map pid32_frame 50" />
    <node pkg="tf" type="static_transform_publisher" name="pid33_broadcaster" args="2.99 1.83 0.2 0 0 0 map pid33_frame 50" />
    <node pkg="tf" type="static_transform_publisher" name="pid34_broadcaster" args="2.99 2.29 0.2 0 0 0 map pid34_frame 50" />


    # seventh row of 5 X = 2_99m
    #                X    Y    Z
    <group ns="PID__2_99__0_46__0_2">
        <node pkg="simulated_gas_sensor" type="simulated_gas_sensor" name="fake_pid" output="screen">
	        <param name="/sensor_model" value="30" />
	        <param name="/sensor_frame" value="pid30_frame" />
	        <param name="/fixed_frame" value="map"/>
        </node>
    </group>

    <group ns="PID__2_99__0_91__0_2">
        <node pkg="simulated_gas_sensor" type="simulated_gas_sensor" name="fake_pid" output="screen">
	        <param name="/sensor_model" value="30" />
	        <param name="/sensor_frame" value="pid31_frame" />
	        <param name="/fixed_frame" value="map"/>
        </node>
    </group>

    <group ns="PID__2_99__1_37__0_2">
        <node pkg="simulated_gas_sensor" type="simulated_gas_sensor" name="fake_pid" output="screen">
	        <param name="/sensor_model" value="30" />
	        <param name="/sensor_frame" value="pid32_frame" />
	        <param name="/fixed_frame" value="map"/>
        </node>
    </group>

    <group ns="PID__2_99__1_83__0_2">
        <node pkg="simulated_gas_sensor" type="simulated_gas_sensor" name="fake_pid" output="screen">
          <param name="/sensor_model" value="30" />
          <param name="/sensor_frame" value="pid33_frame" />
          <param name="/fixed_frame" value="map"/>
        </node>
    </group>

    <group ns="PID__2_99__2_29__0_2">
        <node pkg="simulated_gas_sensor" type="simulated_gas_sensor" name="fake_pid" output="screen">
          <param name="/sensor_model" value="30" />
          <param name="/sensor_frame" value="pid34_frame" />
          <param name="/fixed_frame" value="map"/>
        </node>
    </group>

    ### RQT PLOT Sensors ###
    #-----------------------
    <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot7"  args="/PID__2_99__0_46__0_2/Sensor_reading/raw /PID__2_99__0_91__0_2/Sensor_reading/raw /PID__2_99__1_37__0_2/Sensor_reading/raw /PID__2_99__1_83__0_2/Sensor_reading/raw /PID__2_99__2_29__0_2/Sensor_reading/raw"/>


</launch>
