<?xml version="1.0"?>
<launch>


    <!-- Gazebo sim -->
    <!-- Needed for quad -->
    <include file="$(find quadnodes)/launch/gazeboOutdoor.launch">
      <arg name="world" default="$(find quadnodes)/worlds/empty.world"/>
      <arg name="gui" default="false"/>
    </include>


    <!-- Spawn UAV1 -->
    <include file="$(find quadnodes)/launch/spawnUAV1_SDF.launch">
      <arg name="x" default="5"/>
      <arg name="y" default="5"/>
      <arg name="z" default="0.0"/>
    </include>

    <!-- Spawn UAV2 -->
    <include file="$(find quadnodes)/launch/spawnUAV2_SDF.launch">
      <arg name="x" default="5"/>
      <arg name="y" default="18.3333"/>
      <arg name="z" default="0.0"/>
    </include>

    <!-- Spawn UAV3 -->
    <include file="$(find quadnodes)/launch/spawnUAV3_SDF.launch">
      <arg name="x" default="5"/>
      <arg name="y" default="31.6666"/>
      <arg name="z" default="0.0"/>
    </include>

    <include file="$(find quadnodes)/launch/50x50.launch"/>

    <group ns="UAV1">
      <!-- Gas sensor -->
      <node pkg="simulated_gas_sensor" type="simulated_gas_sensor" name="fake_pid" output="screen">
          <param name="sensor_model" value="30" />
          <param name="sensor_frame" value="pid_frame1" />
          <param name="fixed_frame" value="map_gaden"/>
          <param name="noise_std" value="20.1"/>
      </node>

      <!-- Motion planner -->
      <node name="zScanNoYaw" pkg="quadnodes" type="zScanNoYaw">
        <param name="xmin" value="0"/>  # starting waypoint
        <param name="xmax" value="40"/> # ending waypoint
        <param name="Nx"   value="8"/>  # number of waypoints

        <param name="ymin" value="0"/>
        <param name="ymax" value="13.33"/>
        <param name="Ny"   value="3"/>

        <param name="zmin" value="2.0"/>
        <param name="zmax" value="2.0"/>
        <param name="Nz"   value="1"/>

        <param name="maxVelocity"   value="3"/>
        <param name="stayTime"   value="1"/>
      </node>
    </group>

    <group ns="UAV2">
      <node pkg="simulated_gas_sensor" type="simulated_gas_sensor" name="fake_pid" output="screen">
          <param name="sensor_model" value="30" />
          <param name="sensor_frame" value="pid_frame2" />
          <param name="fixed_frame" value="map_gaden"/>
          <param name="noise_std" value="20.1"/>
      </node>

      <node name="zScanNoYaw" pkg="quadnodes" type="zScanNoYaw">
        <param name="xmin" value="0"/>  # starting waypoint
        <param name="xmax" value="40"/> # ending waypoint
        <param name="Nx"   value="8"/>  # number of waypoints

        <param name="ymin" value="0"/>
        <param name="ymax" value="13.33"/>
        <param name="Ny"   value="3"/>

        <param name="zmin" value="2.0"/>
        <param name="zmax" value="2.0"/>
        <param name="Nz"   value="1"/>

        <param name="maxVelocity"   value="3"/>
        <param name="stayTime"   value="1"/>
      </node>
    </group>

    <group ns="UAV3">
      <node pkg="simulated_gas_sensor" type="simulated_gas_sensor" name="fake_pid" output="screen">
          <param name="sensor_model" value="30" />
          <param name="sensor_frame" value="pid_frame3" />
          <param name="fixed_frame" value="map_gaden"/>
          <param name="noise_std" value="20.1"/>
      </node>

      <node name="zScanNoYaw" pkg="quadnodes" type="zScanNoYaw">
        <param name="xmin" value="0"/>  # starting waypoint
        <param name="xmax" value="40"/> # ending waypoint
        <param name="Nx"   value="8"/>  # number of waypoints

        <param name="ymin" value="0"/>
        <param name="ymax" value="13.33"/>
        <param name="Ny"   value="3"/>

        <param name="zmin" value="2.0"/>
        <param name="zmax" value="2.0"/>
        <param name="Nz"   value="1"/>

        <param name="maxVelocity"   value="3"/>
        <param name="stayTime"   value="1"/>
      </node>
    </group>

    <!-- Create tf transformations -->
    <node pkg="tf" type="static_transform_publisher" name="gaden2World" args="0.0 0.0 0.0 0 0 0 world map_gaden 100" />
    <node pkg="tf" type="static_transform_publisher" name="UAVs2World" args="0.0 0.0 0.0 0 0 0 world worldUAVs 100" />

    <node pkg="tf" type="static_transform_publisher" name="pid1_broadcaster" args="0.0 0.0 0.01 0 0 0 UAV1 pid_frame1 100" />
    <node pkg="tf" type="static_transform_publisher" name="pid2_broadcaster" args="0.0 0.0 0.01 0 0 0 UAV2 pid_frame2 100" />
    <node pkg="tf" type="static_transform_publisher" name="pid3_broadcaster" args="0.0 0.0 0.01 0 0 0 UAV3 pid_frame3 100" />

    <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot2"  args="/UAV1/Sensor_reading/raw /UAV2/Sensor_reading/raw /UAV3/Sensor_reading/raw"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find quadnodes)/rvizConfigs/gadenSingleQuad.rviz"/>

    <!-- <node pkg="rosbag" type="record" args="-o /home/matthew/google-drive/Gaden/gadenRosbagFixedQuads/fixed120s /PID1/Sensor_reading /PID2/Sensor_reading /PID3/Sensor_reading /UAV1/true_position /UAV2/true_position /UAV3/true_position" name="rosbagRecord" /> -->

</launch>
