<?xml version="1.0"?>
<launch>

    <!-- MAVROS PX4 SITL and Gazebo -->
    <include file="$(find px4)/launch/multi_uav_mavros_sitl.launch">
      <!-- gazebo configs -->
      <arg name="gui" default="true"/>
      <!-- vehicle model and world -->
      <arg name="vehicle" default="iris"/>
      <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/empty.world"/>

    </include>
</launch>
