<?xml version="1.0"?>
<launch>

    <!-- MAVROS PX4 SITL and Gazebo -->
    <include file="$(find px4)/launch/mavros_posix_sitl.launch">
      <!-- gazebo configs -->
      <arg name="gui" default="True"/>
      <!-- vehicle model and world -->
      <arg name="vehicle" default="iris1"/>
      <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/empty.world"/>

    </include>


    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find quad_rviz)/rviz/quad_rviz_basic_config.rviz"/>

    <node name="copter_visualization" pkg="mavros_extras" type="visualization" output="screen">
        <param name="num_rotors" value="4"/>
        <param name="arm_len" value="0.22"/>
    </node>

    <node name="zScan" pkg="quadnodes" type="zScan"/>


    <node pkg="tf" type="static_transform_publisher" name="mox1_broadcaster" args="0 0 0 0 0 0 world_frame map 100" />

</launch>
