<?xml version="1.0"?>
<launch>

  <group ns="rasterPF">
    <rosparam file="$(find gaden_sims)/config/pfParams4x3.yaml" />
  </group>

  <arg name="RobotID"      default="1"/>
  <arg name="xminRaster" default="0.1"/>
  <arg name="xmaxRaster" default="2.57"/>
  <arg name="yminRaster" default="4.1"/>
  <arg name="ymaxRaster" default="0.1"/>
  <arg name="flipXY" default="False"/>
  <arg name="stayTime" default="0.25"/>

  <arg name="Nx" default="10"/>
  <arg name="Ny" default="10"/>

  <!-- Fake position publisher -->
  <node name="rasterPF" pkg="gaden_sims" type="rasterPFGaden.py" output="screen">
    <param name="xmin"     type="double"  value="$(arg xminRaster)"    /> # m
    <param name="xmax"     type="double"  value="$(arg xmaxRaster)"    /> # m
    <param name="Nx"       type="double"  value="$(arg Nx)"      />
    <param name="ymin"     type="double"  value="$(arg yminRaster)"    /> # m
    <param name="ymax"     type="double"  value="$(arg ymaxRaster)"    /> # m
    <param name="Ny"       type="double"  value="$(arg Ny)"      />
    <param name="stayTime" type="double"  value="$(arg stayTime)"/>
    <param name="flipXY"   type="bool"    value="$(arg flipXY)"  />
    <param name="RobotID"  type="double"  value="$(arg RobotID)" />
    <param name="printTimeSteps"          value="False"  />
  </node>

</launch>
