<?xml version="1.0"?>
<launch>

  <arg name="RobotID"      default="1"/>
  <arg name="xmin" default="0.4"/>
  <arg name="xmax" default="3.65"/>
  <arg name="ymin" default="0.27"/>
  <arg name="ymax" default="2.40"/>
  <arg name="Nx" default="20"/>
  <arg name="Ny" default="2"/>
  <arg name="stayTime" default="1.1"/>
  <arg name="flipXY" default="False"/>

  <!-- Fake position publisher -->
  <param name="RobotID"  type="double"  value="$(arg RobotID)" /> # m
  <node name="robotPoseRaster" pkg="raster_scan" type="rasterScanMPS.py" output="screen">
    <param name="xmin"     type="double"  value="$(arg xmin)"         /> # m
    <param name="xmax"     type="double"  value="$(arg xmax)"         /> # m
    <param name="Nx"       type="int"     value="$(arg Nx)"           />
    <param name="ymin"     type="double"  value="$(arg ymin)"         /> # m
    <param name="ymax"     type="double"  value="$(arg ymax)"         /> # m
    <param name="Ny"       type="int"     value="$(arg Ny)"           />
    <param name="stayTime" type="double"  value="$(arg stayTime)"     />
    <param name="flipXY"   type="bool"    value="$(arg flipXY)"       /> # bool
    <param name="waypointRadius"          value="0.05"                /> # m
  </node>

</launch>
